/* Global variables */
:root {
    --primary: #5f43b2;
    --primary-text-2: #b1aebb;
    --dark-primary: #3a3153;
    --light-primary: #443a63;
    --text-primary: #e8dfff;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 2.5rem;
    color: whitesmoke;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
    color: var(--primary-text-2);
    font-weight: 700;
}
p{
    color: var(--text-primary);
    font-weight: 450;
    padding-top: 5px;
    font-size: 1.1rem;
}
i{
    color: whitesmoke;
    font-size: 2.5rem;
    padding-right: 10px;
    padding-top: 10px;
}
i:hover{
    color: antiquewhite;
}

/* Navigation Bar */
.navbar {
    background-color: var(--dark-primary); /* Dark background */
    width: 100%; /* Full-width background */
    padding: 15px 0; /* Adjust padding */
    display: flex;
    justify-content: center; /* Centers container */
    position: fixed;
}

/* Container to limit width */
.navbar__container {
    width: 85%; /* Limits content width */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styling */
#logo h1 {
    font-size: 2rem;
    color: var(--text-primary); /* Blue color */
    font-weight: 650;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    font-weight: 500;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 650;
    font-size: 1.3rem;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: antiquewhite; /* Blue color */
}
/*This where we work on the next section*/
#headshot{
    max-width: 450px;
    border-radius: 15px;
}
#side{
    max-width: 450px;
}
.light-section{
    background-color: var(--light-primary);
    padding-top: 40px;
    padding-bottom: 40px;
}
.dark-section{
    background-color: var(--dark-primary);
    padding-top: 40px;
    padding-bottom: 40px;
}
.container{
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background-color: gray;

}
.content{
    flex: 1 1 450px;
    margin: 20px;
    max-width: 50%;

}
#Home{
padding-top: 90px;
}
/*paragraph link*/
.paragraph-link{
    text-decoration: none;
    color: antiquewhite;
}


@media only screen and (max-width: 1250px){
    .content{
        max-width: 100%;
    }
    .container{
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 600px){
    .container{
        padding: 10px;
        padding-top: 20px;
    }
    #headshot{
        max-width: 300px;
    }
    #side{
        max-width: 300px;
    }
    #logo h1 {
        font-size: 1.3rem;
    }
    .nav-links a {
        font-size: 1.1rem;
    }

    p{
        font-size: 0.98rem;
    }
    h1{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.2rem;
    }
}



